{% extends 'base.html' %}
{% block content %}


<div class="container page-todo bootstrap snippets bootdeys">
    <div class="col-sm-7 tasks">
        <div class="task-list">
            <h1>Tasks</h1>
            <form action="" method="post">

                {{ form.csrf_token() }}
            
                {% for field in form if field.name != "csrf_token" %}
                
                <p style="display:inline">{{ field }}
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </p>
                {% endfor %}
            
            </form>
            <br>
            {% for todo in todo_list|sort(attribute="priority", reverse=true)|sort(attribute="complete") %}
            {% if todo.priority == True %}
            <div class="priority high"><span>high priority</span></div>
            <div class="task high">
                <div class="desc">
                    {% if todo.complete == False %}
                    <div class="title">{{ todo.title }}</div>
                    <span >Not Complete</span>
                    <form action="/priority/{{ todo.id }}">
                        <button type="submit" class="submit" name="submitbtn" value="subm">Не важно</button>
                    </form>
                    <form action="/update/{{ todo.id }}">
                        <button type="submit" class="submit" name="submitbtn" value="subm">Выполнено</button>
                    </form>
                    {% else %}
                    <div class="title"><s>{{ todo.title }}</s></div>
                    <span >Completed</span>
                    <form action="/delete/{{ todo.id }}">
                        <button type="submit" class="submit" name="submitbtn" value="subm">Удалить</button>
                    </form>
                    <form action="/update/{{ todo.id }}">
                        <button type="submit" class="submit" name="submitbtn" value="subm">Не выполнено</button>
                    </form>
                    {% endif %}
                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div> 1 day</div>
                </div >
            </div>
            {% else %}
            <div class="priority low"><span>low priority</span></div>
    
            <div class="task low">
                <div class="desc">
                    {% if todo.complete == False %}
                    <div class="title">{{ todo.title }}</div>
                    <span >Not Complete</span>
                    <form action="/priority/{{ todo.id }}">
                        <button type="submit" class="submit" name="submitbtn" value="subm">Важно!</button>
                    </form>
                    <form action="/update/{{ todo.id }}">
                        <button type="submit" class="submit" name="submitbtn" value="subm">Выполнено</button>
                    </form>
                    {% else %}
                    <div class="title"><s>{{ todo.title }}</s></div>
                    <span >Completed</span>
                    <form action="/delete/{{ todo.id }}">
                        <button type="submit" class="submit" name="submitbtn" value="subm">Удалить</button>
                    </form>
                    <form action="/update/{{ todo.id }}">
                        <button type="submit" class="submit" name="submitbtn" value="subm">Не выполнено</button>
                    </form>
                    {% endif %}

                </div>
                <div class="time">
                    <div class="date">Jun 1, 2012</div>
                    <div> 1 day</div>
                </div>
            </div>
            <div class="clearfix"></div>
            {% endif %}
            {% endfor %}		
        </div>		
    </div>
    </div>
{% endblock %}